n8n/ege-message-flow.json
{
  "name": "EGE Platform — Fluxo de Mensagens",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ege-messages",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4001-8001-000000000001",
      "name": "Webhook: Entrada",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "a1b2c3d4-0001-4001-8001-000000000099"
    },

    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "f1",
              "name": "telefone",
              "value": "={{ $json.data?.key?.remoteJid?.replace('@s.whatsapp.net','') || $json.from || $json.phone || '' }}",
              "type": "string"
            },
            {
              "id": "f2",
              "name": "mensagem",
              "value": "={{ $json.data?.message?.conversation || $json.data?.message?.extendedTextMessage?.text || $json.message || $json.body || '' }}",
              "type": "string"
            },
            {
              "id": "f3",
              "name": "nome",
              "value": "={{ $json.data?.pushName || $json.name || 'Visitante' }}",
              "type": "string"
            },
            {
              "id": "f4",
              "name": "canal",
              "value": "={{ $json.channel || 'whatsapp' }}",
              "type": "string"
            },
            {
              "id": "f5",
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-4002-8002-000000000002",
      "name": "Normalizar Dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [220, 300]
    },

    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.moskit.com.br/v1/people?phone={{ encodeURIComponent($json.telefone) }}&limit=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": { "timeout": 5000 }
      },
      "id": "a1b2c3d4-0003-4003-8003-000000000003",
      "name": "CRM: Verificar Contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [440, 300],
      "credentials": {
        "httpHeaderAuth": { "id": "cred-moskit", "name": "Moskit API Key" }
      }
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key",          "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version",   "value": "2023-06-01" },
            { "name": "content-type",        "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 80,\n  \"system\": \"Classifique a intenção da mensagem e retorne APENAS JSON com o campo intencao. Valores aceitos: lead_novo | diagnostico | suporte | outro. Exemplo: {\\\"intencao\\\":\\\"lead_novo\\\"}\",\n  \"messages\": [{\"role\":\"user\",\"content\":\"Mensagem: {{ $('Normalizar Dados').item.json.mensagem }}\\nContato no CRM: {{ $json.total > 0 ? 'sim' : 'nao' }}\"}]\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0004-4004-8004-000000000004",
      "name": "IA: Classificar Intenção",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [660, 300]
    },

    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "g1",
              "name": "intencao",
              "value": "={{ (() => { try { return JSON.parse($json.content[0].text).intencao } catch(e) { return 'outro' } })() }}",
              "type": "string"
            },
            {
              "id": "g2",
              "name": "telefone",
              "value": "={{ $('Normalizar Dados').item.json.telefone }}",
              "type": "string"
            },
            {
              "id": "g3",
              "name": "nome",
              "value": "={{ $('Normalizar Dados').item.json.nome }}",
              "type": "string"
            },
            {
              "id": "g4",
              "name": "mensagem",
              "value": "={{ $('Normalizar Dados').item.json.mensagem }}",
              "type": "string"
            },
            {
              "id": "g5",
              "name": "contato_existente",
              "value": "={{ $('CRM: Verificar Contato').item.json.total > 0 }}",
              "type": "boolean"
            },
            {
              "id": "g6",
              "name": "crm_id",
              "value": "={{ $('CRM: Verificar Contato').item.json.people?.[0]?.id || null }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0005-4005-8005-000000000005",
      "name": "Extrair Intenção",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [880, 300]
    },

    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": false, "typeValidation": "strict" },
                "conditions": [
                  { "leftValue": "={{ $json.intencao }}", "rightValue": "lead_novo", "operator": { "type": "string", "operation": "equals" } }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Lead Novo"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false, "typeValidation": "strict" },
                "conditions": [
                  { "leftValue": "={{ $json.intencao }}", "rightValue": "diagnostico", "operator": { "type": "string", "operation": "equals" } }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Diagnóstico"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false, "typeValidation": "strict" },
                "conditions": [
                  { "leftValue": "={{ $json.intencao }}", "rightValue": "suporte", "operator": { "type": "string", "operation": "equals" } }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Suporte"
            }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "a1b2c3d4-0006-4006-8006-000000000006",
      "name": "Switch: Por Intenção",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1100, 300]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://api.moskit.com.br/v1/people",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $json.nome }}\",\n  \"phones\": [{\"phone\": \"{{ $json.telefone }}\", \"type\": \"mobile\"}],\n  \"source\": \"WhatsApp EGE Hub\",\n  \"stage_id\": 1,\n  \"custom_fields\": [{\"id\": \"mensagem_inicial\", \"value\": \"{{ $json.mensagem }}\"}]\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0007-4007-8007-000000000007",
      "name": "Lead: Criar no Moskit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1340, 80],
      "credentials": {
        "httpHeaderAuth": { "id": "cred-moskit", "name": "Moskit API Key" }
      }
    },

    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $env.EVOLUTION_INSTANCE }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.EVOLUTION_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Extrair Intenção').item.json.telefone }}\",\n  \"text\": \"Olá, {{ $('Extrair Intenção').item.json.nome }}! 👋\\n\\nSou o assistente do *EGE Platform*. Que bom ter você aqui!\\n\\nPara melhor atendê-lo, um de nossos consultores entrará em contato em breve.\\n\\nEnquanto isso, conheça nossa plataforma: {{ $env.EGE_HUB_URL }}\"\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0008-4008-8008-000000000008",
      "name": "Lead: Resposta WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1580, 80]
    },

    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#vendas",
        "text": "=🔥 *Novo Lead via WhatsApp!*\n\n*Nome:* {{ $('Extrair Intenção').item.json.nome }}\n*Telefone:* {{ $('Extrair Intenção').item.json.telefone }}\n*Mensagem:* {{ $('Extrair Intenção').item.json.mensagem }}\n*Moskit ID:* {{ $('Lead: Criar no Moskit').item.json.id }}\n*Timestamp:* {{ $('Normalizar Dados').item.json.timestamp }}",
        "otherOptions": {}
      },
      "id": "a1b2c3d4-0009-4009-8009-000000000009",
      "name": "Lead: Notificar Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [1820, 80],
      "credentials": {
        "slackApi": { "id": "cred-slack", "name": "Slack EGE" }
      }
    },

    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $env.EVOLUTION_INSTANCE }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.EVOLUTION_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.telefone }}\",\n  \"text\": \"Olá, {{ $json.nome }}! 👋\\n\\n*EGE Platform — Diagnóstico Empresarial*\\n\\nÓtima escolha! Nosso diagnóstico identifica oportunidades de crescimento em 9 dimensões.\\n\\n📋 *Responda o formulário (8 min):*\\n{{ $env.DIAGNOSTIC_FORM_URL }}\\n\\nApós o envio, nossa equipe prepara uma análise personalizada em até 24h. ✅\"\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0010-4010-8010-000000000010",
      "name": "Diag: Resposta WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1340, 300]
    },

    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#diagnosticos",
        "text": "=📊 *Diagnóstico Solicitado!*\n\n*Nome:* {{ $json.nome }}\n*Telefone:* {{ $json.telefone }}\n*Mensagem:* {{ $json.mensagem }}\n*Contato no CRM:* {{ $json.contato_existente ? '✅ Sim' : '❌ Novo' }}\n*Timestamp:* {{ $('Normalizar Dados').item.json.timestamp }}",
        "otherOptions": {}
      },
      "id": "a1b2c3d4-0011-4011-8011-000000000011",
      "name": "Diag: Notificar Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [1580, 300],
      "credentials": {
        "slackApi": { "id": "cred-slack", "name": "Slack EGE" }
      }
    },

    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $env.EVOLUTION_INSTANCE }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.EVOLUTION_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.telefone }}\",\n  \"text\": \"Olá, {{ $json.nome }}! 🛠️\\n\\nRecebemos seu contato de suporte.\\n\\nSua solicitação foi registrada e nossa equipe técnica responderá em até *4 horas úteis*.\\n\\n📎 Para acompanhar: {{ $env.SUPPORT_PORTAL_URL }}\"\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0012-4012-8012-000000000012",
      "name": "Suporte: Resposta WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1340, 520]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $env.EVOLUTION_INSTANCE }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.EVOLUTION_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.telefone }}\",\n  \"text\": \"Olá, {{ $json.nome }}! 👋\\n\\nObrigado por entrar em contato com o *EGE Platform*.\\n\\nPosso te ajudar com:\\n• 📊 Diagnóstico empresarial gratuito\\n• 🚀 Plano de crescimento personalizado\\n• 🤖 Automação com IA\\n• 📈 Monitoramento de KPIs\\n\\nDigite *diagnóstico* para começar ou fale com um consultor: {{ $env.CONSULTANT_PHONE }}\"\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0013-4013-8013-000000000013",
      "name": "Outro: Resposta WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1340, 740]
    }
  ],

  "connections": {
    "Webhook: Entrada": {
      "main": [
        [{ "node": "Normalizar Dados", "type": "main", "index": 0 }]
      ]
    },
    "Normalizar Dados": {
      "main": [
        [{ "node": "CRM: Verificar Contato", "type": "main", "index": 0 }]
      ]
    },
    "CRM: Verificar Contato": {
      "main": [
        [{ "node": "IA: Classificar Intenção", "type": "main", "index": 0 }]
      ]
    },
    "IA: Classificar Intenção": {
      "main": [
        [{ "node": "Extrair Intenção", "type": "main", "index": 0 }]
      ]
    },
    "Extrair Intenção": {
      "main": [
        [{ "node": "Switch: Por Intenção", "type": "main", "index": 0 }]
      ]
    },
    "Switch: Por Intenção": {
      "main": [
        [{ "node": "Lead: Criar no Moskit",       "type": "main", "index": 0 }],
        [{ "node": "Diag: Resposta WhatsApp",      "type": "main", "index": 0 }],
        [{ "node": "Suporte: Resposta WhatsApp",   "type": "main", "index": 0 }],
        [{ "node": "Outro: Resposta WhatsApp",     "type": "main", "index": 0 }]
      ]
    },
    "Lead: Criar no Moskit": {
      "main": [
        [{ "node": "Lead: Resposta WhatsApp", "type": "main", "index": 0 }]
      ]
    },
    "Lead: Resposta WhatsApp": {
      "main": [
        [{ "node": "Lead: Notificar Slack", "type": "main", "index": 0 }]
      ]
    },
    "Diag: Resposta WhatsApp": {
      "main": [
        [{ "node": "Diag: Notificar Slack", "type": "main", "index": 0 }]
      ]
    }
  },

  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "ege-platform-n8n"
  },
  "id": "ege-msg-flow-001",
  "tags": [
    { "createdAt": "2026-04-24T00:00:00.000Z", "updatedAt": "2026-04-24T00:00:00.000Z", "id": "tag-ege-001", "name": "EGE Platform" },
    { "createdAt": "2026-04-24T00:00:00.000Z", "updatedAt": "2026-04-24T00:00:00.000Z", "id": "tag-msg-001", "name": "Mensagens" }
  ],
  "versionId": "v1-2026-04-24",
  "active": false
}
